@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

/* DARK AND LIGHT MODE CSS */

.lightMode {
  --standard-text-color: #00020f;
  --inverse-text-color: #f2f4ff;
  --lighter-background-color: #33b4ff;
  --darker-background-color: #007bc2;
  --darkest-background-color: #d6f0ff;
  --gradient-top-color: #8aa9bb;
  --search-top-color: #8aa9bb;
  --block-color: #e3f4ff;
  --button-color: #f2f4ff;
  --arrow-up: #087308;
  --arrow-down: #731408;
}

.darkMode {
  --standard-text-color: #f2f4ff;
  --inverse-text-color: #f2f4ff;
  --lighter-background-color: #006fb1;
  --darker-background-color: #034469;
  --darkest-background-color: #101213;
  --search-top-color: #1f2324;
  --gradient-top-color: #040505;
  --block-color: #00598d;
  --button-color: #313638;
  --arrow-up: #42d442;
  --arrow-down: #c55242;
}

/* MAIN CSS */

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 400;
  overscroll-behavior: contain;
}

html { overscroll-behavior: contain; }

.topBar {
  height: 25vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--lighter-background-color),
    var(--darker-background-color)
  );
  color: var(--inverse-text-color);
}

.tabButtons {
  height: 60%;
  width: 100%;
  box-sizing: border-box;
  padding: 5vw;
  font-size: 6vh;
  text-align: center;
}

.tabButtons img {
  height: 11vh;
  padding: 0 10vw;
  vertical-align: middle;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  opacity: 0.5;
  transition: 250ms;
}

.tabButtons i {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  opacity: 0.5;
  transition: 250ms;
}

.selectedTab {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1)) !important;
  transform: scale(1.1);
  opacity: 1 !important;
}

#titleBar {
  height: 40%;
  width: 100%;
  text-align: center;
  font-size: 6vh;
  font-weight: 700;
  text-transform: capitalize;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0.5vh 1vh 1vh;
}

#main {
  height: 75vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--gradient-top-color) 0%,
    var(--darkest-background-color) 5%
  );
  color: var(--standard-text-color);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.tab {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 4vh;
  font-size: 3vh;
  overflow: auto;
  display: none;
}

.tabActive {
  display: block;
}

table {
  color: var(--standard-text-color);
}

button {
  transition: transform 100ms;
}

button:active {
  transform: scale(0.8);
}

/* FAVOURITES PAGE CSS */

.favourite {
  margin-bottom: 3vh;
  text-transform: capitalize;
  background-color: var(--block-color);
  box-sizing: border-box;
  padding: 2vh;
  border-radius: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.favourite table {
  border-spacing: 0;
  width: 100%;
}

.favourite td {
  width: 50%;
}

.favourite span {
  font-size: 4vh;
  display: block;
  margin-bottom: 2vh;
  font-weight: 500;
}

.favourite tr.times {
  font-size: 8vh;
  height: 4vh;
  line-height: 6vh;
  font-weight: 200;
}

.favourite tr.times img {
  height: 8vh;
}

/* LOCATION PAGE CSS */

#locationTab span {
  font-weight: 500;
  font-size: 3.5vh;
}

.detailedTides {
  font-weight: 200;
  font-size: 3.5vh;
  margin-bottom: 3vh;
}

.detailedTides span {
  font-weight: 400 !important;
  font-size: 3.5vh !important;
}

.detailedTides img {
  height: 10vh;
}

.fa-arrow-up {
  color: var(--arrow-up);
}

.fa-arrow-down {
  color: var(--arrow-down);
}

#locationTab button {
  width: 48%;
  height: 8vh;
  font-size: 2.75vh;
  font-family: Poppins;
  font-weight: 500;
  line-height: 3vh;
  border: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0%, 10%, 20%, 50%));
  outline: none;
  color: var(--standard-text-color);
  background-color: var(--button-color);
}

#currentHeight img {
  height: 3vh;
}

.subTab {
  width: 100%;
  display: none;
}

.subTabActive {
  display: block;
}

#moonInfo {
  font-size: 4vh;
  font-weight: 200;
  margin-bottom: 2vh;
}

#moonInfo img {
  height: 7vh;
  vertical-align: middle;
  margin-right: 2.5vw;
  filter: drop-shadow(0px 0px 5px rgba(0%, 10%, 20%, 50%));
}

.sunInfo {
  font-weight: 200;
  font-size: 3.5vh;
}

/* SEARCH PAGE CSS */

#searchTab {
  padding: 0;
}

#searchInput {
  width: 100%;
  height: 10vh;
  font-family: Poppins;
  font-size: 5vh;
  color: var(--standard-text-color);
  background: linear-gradient(
    to bottom,
    var(--search-top-color) 0%,
    var(--button-color) 25%
  );
  box-sizing: border-box;
  padding: 3vh;
  border: none;
  outline: none;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

#searchResults {
  width: 100%;
  height: 65vh;
  overflow: auto;
  padding: 3vh;
  box-sizing: border-box;
}

#searchResults span {
  display: block;
  margin-bottom: 2vh;
  text-transform: capitalize;
}

#searchResults u {
  -webkit-user-select: none;
  user-select: none;
}

/* SETTINGS PAGE CSS */

.switch {
  position: relative;
  display: inline-block;
  width: 18vw;
  height: 10.2vw;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 10.2vw;
}

.slider:before {
  position: absolute;
  content: "";
  height: 7.8vw;
  width: 7.8vw;
  left: 1.2vw;
  bottom: 1.2vw;
  background-color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #33b4ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #33b4ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(7.8vw);
  -ms-transform: translateX(7.8vw);
  transform: translateX(7.8vw);
}

#settingsTab table {
  font-size: 3vh;
  border-spacing: 0;
  margin-top: -1vh;
}

#settingsTab td {
  width: 100%;
  height: 7vh;
}

#settingsTab button {
  width: 100%;
  height: 8vh;
  font-size: 2.9vh;
  font-family: Poppins;
  font-weight: 500;
  line-height: 3vh;
  border: 0;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0%, 10%, 20%, 50%));
  outline: none;
  background-color: var(--button-color);
  color: var(--standard-text-color);
  margin: 1vh 0;
}

.linksAndThanks {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 21vh;
  box-sizing: border-box;
  padding: 3vh;
  font-size: 2.5vh;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}