@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

body.lightMode {
    --accent-color: #33b4ff;
    --accent-color-darker: #007bc2;
    --header-color: #007bc2;
    --dark-color: #00020f;
    --almost-almost-lightest: #e3e4ec;
    --almost-lightest: #f2f4ff;
    --lightest: #ffffff;
    --section-color-1: #f2f4ff;
    --section-color-2: #e3e4ec;
}

body.darkMode {
    --accent-color: #1c1f35;
    --accent-color-darker: #00020f;
    --header-color: #33b4ff;
    --dark-color: #f2f4ff;   
    --almost-lightest: #33b4ff;
    --lightest: #f2f4ff;
    --section-color-1: #12131b;
    --section-color-2: #1c1f35;
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    font-family: Poppins;
    overflow: hidden auto;
}

.shadow.text { text-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }
.shadow.box { filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4)); }

/* HERO SECTION */

.hero {
    color: var(--lightest);
    min-height: 100vh;
    width: 100%;
    padding: 5vh 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6vh;
    background: linear-gradient(to top left, var(--accent-color), var(--accent-color-darker));
}

.heroContent {
    display: flex;
    flex-direction: column;
    flex: 3;
    place-items: center;
    place-content: center;
    text-align: center;
    font-size: 3vh;
    font-weight: 200;
    min-width: min(50vh, 100%);
}

.heroContent h1 {
    margin: 0 0 4vh;
    line-height: 8vh;
    font-size: 7vh;
    color: var(--almost-lightest);
}

.heroContent .subtitle {
    font-size: 4vh;
    font-weight: 400;
    margin: 0 0 2vh;
}

.heroContent .buttons { margin: 2.5vh 0 0; }
.heroContent button {
    outline: none;
    border: 2px solid var(--lightest);
    background-color: transparent;
    border-radius: 4vh;
    color: var(--lightest);
    font-size: 2.5vh;
    padding: 1vh 2vh;
    font-family: Poppins;
    font-weight: 400;
    margin: 0 0.5vh;
    cursor: pointer;
    transition: 250ms;
}
.heroContent button:hover {
    background-color: var(--lightest);
    color: var(--accent-color-darker);
}

.featuresDesktop { display: block; }
.featuresMobile { display: none; }
.footerDesktop { display: block; }
.footerMobile { display: none; }
@media (max-width: 100vh) {
    .featuresDesktop { display: none; }
    .featuresMobile { display: block; }
    .footerDesktop { display: none; }
    .footerMobile { display: block; }
    .heroContent { margin: 2.5vh 0.5vh; }
    .hero { padding: 8vh 5vw; }
}

.heroImage {
    display: flex;
    flex: 2;
    place-items: center;
    place-content: center;
    min-width: min(50vh, 100%);
}

.heroImage img {
    height: 75vh;
    animation: imageIn 1.5s ease;
}

/* REGULAR SECTIONS */
div.section {
    background-color: var(--section-color-1);
    color: var(--dark-color);
    box-sizing: border-box;
    width: 100%;
    min-height: 25%;
    font-size: 2.5vh;
    padding: 5vh 0;
}
div.section:nth-child(2n+1) {
    background-color: var(--section-color-2);
}
div.section div.container {
    margin: 0 20% 0 20%;
    padding: 5vh 0;
}
div.section h1 {
    font-size: 4vh;
    margin-top: 0;
    margin-bottom: 1vh;
    color: var(--header-color);
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--header-color); /* Change the color */
    font-weight: 800; /* If you want it to be bold */
    transform: scale(1.5);
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* FOOTER */
div.footer {
    background-color: var(--section-color-1);
    color: var(--dark-color);
    box-sizing: border-box;
    padding: 1.5vh;
    font-size: 2vh;
    width: 100%;
}
div.footerDesktop:nth-child(2n+1) {
    background-color: var(--section-color-2);
}
div.footerMobile:nth-child(2n) {
    background-color: var(--section-color-2);
}
div.footer span {
    position: absolute;
    right: 1.5vh;
}

/* LINK STYLING */

a:link, a:visited, a:active {
    color: var(--dark-color);
    transition: 100ms;
    font-weight: 200;
    text-decoration: none;
}
a:hover { color: #33b4ff; }

/* ANIMATION */

@keyframes imageIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    20% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* SLIDER */

.darkModeSwitch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 9vh;
    height: 5.1vh;
    -webkit-tap-highlight-color: transparent;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1f35;
    -webkit-transition: 250ms;
    transition: 250ms;
    border-radius: 5.1vh;
}

.slider:before {
    position: absolute;
    content: "\1f31e";
    font-size: 2.5vh;
    text-indent: 0.25vh;
    line-height: 4vh;
    height: 3.9vh;
    width: 3.9vh;
    left: 0.6vh;
    bottom: 0.6vh;
    background-color: var(--lightest);
    -webkit-transition: 250ms;
    transition: 250ms;
    border-radius: 50%;
}

input:checked + .slider:before {
    content: "\1f319";
}

input:checked + .slider {
    background-color: var(--almost-lightest);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--almost-lightest);
}

input:checked + .slider:before {
    -webkit-transform: translateX(3.9vh);
    -ms-transform: translateX(3.9vh);
    transform: translateX(3.9vh);
}